body {
  background-color: white;
  font-family: Arial, sans-serif;
  align-items: center;
}
#header {
  color: black;
  text-align: center;
  margin: 20px ;
}

#mainBody {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
  align-items:center;
  flex-direction: column-reverse;
  align-items: baseline;
}

 .grid-stack {
  background-color:antiquewhite;
  border:salmon dotted;
  border-radius: 8px;
  margin-bottom: 0px;
  height: 500px;
  width: 1000px;
  margin-left: 500px;
  margin-right: 500px;
   margin-bottom: 500px;
   margin-right:1500px ;
} 
.grid-stack-item-content {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  color:whitesmoke;
   height:250px;
   width:500px;
   font-size: large;
   
}
#challengesContainer{
  background-color: red;
  color:white;
  height: 500px;
  width: 1000px;
  font-size:30px ;
}
 #runButton,
#saveLayout {
 height: fit-content;
  width:fit-content;
  border: none;
  border-radius: 6px;
  font-size: 100px;
  cursor: pointer;
  background-color:lightcoral;
  color: white;
  margin-bottom:0%;
 padding-bottom: 0%;
 align-items: baseline;
 margin: auto;
}

#resetButton {
  height: fit-content;
  width:fit-content;
  border: none;
  border-radius: 6px;
  font-size: 46px;
  cursor: pointer;
  background-color:lightcoral;
  color: white;
  margin-bottom: 0%;
  padding-bottom: 0%;
  align-items: baseline;
  margin: auto;
  font-size: 100px;
} 