body {
  background-color: white;
  font-family: Arial, sans-serif;
}
#header {
  color: black;
  text-align: center;
  margin: 20px ;
}

#mainBody {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
}

.grid-stack {

  background-color:cornsilk;
  border:salmon dotted;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 1300px;
  width: 1330px;
 
}
.grid-stack-item-content {
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}
#editArea {
  width: 100%;
  height: 100%;
  background-color:blanchedalmond;
  color: #d4d4d4;
  border: none;
  padding: 15px;
  font-family: "Consolas", monospace;
  font-size: 14px;
  resize: none;
}
#consoleArea {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #4af626;
  padding: 15px;
  font-family: "Consolas", monospace;
  font-size: 14px;
  overflow-y: auto;
}
#runButton,
#saveLayout {
  margin: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
}

#resetButton {
  margin: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000;
  color: white;
}