body {
  background-color: white;
  font-family: Arial, sans-serif;
}
#header {
  color: black;
  text-align: center;
  margin: 20px ;
}

#mainBody {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
  align-items:center;
  flex-direction: column-reverse;
}

 .grid-stack {
  background-color:red;
  border:salmon dotted;
  border-radius: 8px;
  margin-bottom: 20px;
  min-width: 1000px;
  min-height: 1000px;
  max-width: 2500px;
  max-height: 2500px;
} 
.grid-stack-item-content {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  color:whitesmoke;
   min-width: 600px;
  min-height: 600px;
  max-width: 2500px;
}

#runButton,
#saveLayout {
 height: fit-content;
  width:fit-content;
  margin-bottom: 0px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color:blue;
  color: white;
  position: relative;
 
}

#resetButton {
  height: fit-content;
  width:fit-content;
  margin-bottom: 0px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color:blue;
  color: white;
  position: relative;

}