body {
  background-color: white;
  font-family: Arial, sans-serif;
}
#header {
  color: black;
  text-align: center;
  margin: 20px ;
}

#mainBody {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
  align-items:center;
  flex-direction: column-reverse;
}

 .grid-stack {
  background-color:red;
  border:salmon dotted;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 3000px;
  width: 3000px;
} 
.grid-stack-item-content {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  color:whitesmoke;
   height:1500px;
   min-width:1500px;
}

#runButton,
#saveLayout {
 height: fit-content;
  width:fit-content;
  border: none;
  border-radius: 6px;
  font-size: 46px;
  cursor: pointer;
  background-color:lightcoral;
  color: white;
  margin-top: 0%;
  
  motion:path();
}

#resetButton {
  height: fit-content;
  width:fit-content;
  border: none;
  border-radius: 6px;
  font-size: 46px;
  cursor: pointer;
  background-color:lightcoral;
  color: white;
  margin-top: 0%;
  
  motion: path();

}