body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  color: red;
  text-align: center;
  margin: 20px 0;
}

#mainBody {
  background-color: wheat;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#editorArea {
  align-items: center;
  background-color: black;
  color: wheat;
  text-align: center;
  padding: 20px;
  height: 400px;
  margin-bottom: 20px;
  cursor: pointer;
}

#editArea {
  height: 200px;
  width: 80%;
  text-align: left;
  background-color: #333;
  color: white;
  padding: 10px;
  font-family: monospace;
  cursor: pointer;
}

#consoleArea {
  text-align: center;
  background-color: palevioletred;
  color: white;
  padding: 20px;
  height: 150px;
  margin-bottom: 20px;
  cursor: pointer;
}

button[type="button"] {
  margin: 20px auto;
  display: block;
  color: white;
  background-color: lightcoral;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
 cursor: pointer;
}